
@{
	<h2>Formular adaugare articol</h2>
	<form method="post" action="/Articles/New">
		<label>Titlu</label>
		<br />
		<input type="text" name="Title" />
		<br /><br />
		<label>Continut</label>
		<br />
		<input type="text" name="Content" />
		<br /><br />
		<label>Data</label>
		<br />
		<input type="datetime" name="Date" />
		<br />
		<br />
		<button type="submit">Adauga articol</button>
	</form>
}
