@{
    ViewData["Title"] = "Home";
}

<h1>Pagina principală</h1>

<ul>
    <li><a href="/Articles/Index">Vezi articolele</a></li>          <!--Folosim prima pagina pe post de meniu-->
    <li><a href="/Categories/Index">Vezi categoriile</a></li>
</ul>
